<!--
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
-->
th, td {
    padding: 5px;
    text-align: center;    
}

<!-- Make Span of fixed width 
span { 
    display: inline-block;
    width: 100px;
}
-->